<!DOCTYPE html>
<html>
  <head>
    <title>FREE BODY DIAGRAM ANALYSIS TECHINCS
    </title>
    <style>
      h1{
        font-family:Century Gothic;
        color:rgb(50,60,45)
      }
      p{
        font-family:Bangla MN;
        color:rgb(100,120,90)
      }
      # container{
        max-width:700px;
        margin:0 auto
      }
    </style>
  </head>
  <body>
    <div id='container'>
      <h1>FREE BODY DIAGRAM ANALYSIS</h1>
      <form action='/Questionstore', method='post'>
        {{include 'QUESTION.html'}}
      </form>
      
    </div>
    <div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">#</th>  
            <th scope="col">id</th>
            <th scope="col">Force/User</th>
            <th scope="col">Force/Answer</th>
            <th scope="col">Direction/User</th>
            <th scope="col">Direction/Answer</th>
          </tr>
        </thead>
        <tbody>
          {% for fb in feedback %}
            {%include 'feedback.html'%}
          {%endfor%}
        </tbody>
      </table>
    </div>
  </body>
</html>